/****************************************************************
* Compass Imports
****************************************************************/

@import "compass/css3";
@import "compass/utilities";

/****************************************************************
* Variables
****************************************************************/

// Typeface
@mixin thin-font($size) {
	font-family: "Roboto Thin";
	font-size: $size;
	font-weight: normal;
}
@mixin light-font($size) {
	font-family: "Roboto Light";
	font-size: $size;
	font-weight: normal;
}
@mixin regular-font($size) {
	font-family: "Roboto Regular";
	font-size: $size;
	font-weight: normal;
}
@mixin bold-font($size) {
	font-family: "Roboto Bold";
	font-size: $size;
	font-weight: normal;
}

// Size
$body-font-size: 24px;

// Colour
$white: #ffffff;
$black: #000000;
$grey: #222222;
$dark-grey: #494949;
$light-grey: #bababa;
$red: #820B0B;
$green: #1F991C;
$blue: #3C67D6;

/****************************************************************
* Global
****************************************************************/

* { box-sizing: border-box; }

html, body { @include light-font(24px); color: $black; }

strong { @include regular-font(24px); }

nav ul li { list-style: none; }

.action-bar {
	position: absolute;
	z-index: 9999;
	color: $white;
	background-color: $grey;
	
	width: 100%;
	height: 100px;
	
	overflow-y: hidden;
	
	.app-icon {
		float: left;
		padding: 30px;
		vertical-align: middle;
		img { width: 70px; height: auto; }
		img.back { width: 15px; height: auto; @include opacity(0.5); }
	}
	
	h1 {
		@include regular-font(36px);
		margin-top: 0.9em;
		float: left;
	}
	&.child h1 { @include light-font(36px); } // Lighter weight for child app pages
	
	a.menu {
		position: relative;
		float: right;
		padding: 30px;
		img { width: 40px; height: auto; }
		.new-marker {
			position: absolute;
			bottom: 16px;
			right: 11px;
		}
	}
}

a, a:visited, a:active, a:hover {
	color: $black;
	text-decoration: none;
	border: none;
}
a.button {
	text-decoration: none;
	padding: 0.5em 1.5em;
	@include border-radius(5px, 5px);
}

textarea {
	@include light-font(18px);	
	padding: 10px;
	-webkit-appearance: none;
	border: 1px solid $light-grey;
}

h1 { font-size: 36px; font-weight: normal; }

#header {
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 99;
}

#content {
	position: relative;
	top: 100px;
	width: 100%;
	min-height: 932px; 
	padding: 40px;
	
	@include single-box-shadow($black, 0, 0, 65px, 0, false);
}

.new-marker,
.sidr-class-new-marker {
	@include regular-font(18px);
	color: $white;
	text-transform: uppercase;
	text-align: center;
	background-color: $blue;
	padding: 0.4em;
	width: 3.5em;
	
	@include border-radius(7px);
	&.circle, &.sidr-class-circle {
		@include border-radius(100px);
		width: 2em;
	}
	&.red {
		background-color: $red;
	}
}

/****************************************************************
* Navigation Panel
****************************************************************/

// Hide original nav-panel data
#nav-panel { display: none; }

// Sidr menu styles
#nav-menu {
	&.sidr {
		display:none;
		position:absolute;
		position:fixed;
		top:0;
		height:100%;
		z-index:-10;
		width:670px;
		overflow-x:none;
		overflow-y:auto;
	}
	
	&.sidr.right {
		left:auto;
		right:-670px;
	}
	
	&.sidr.left {
		left:-670px;
		right:auto;
	}
}

// Style sidr nav-menu
#nav-menu {
	@include regular-font(36px);
	background-color: #2D2D2D;
		
	// Turn off link visual effects
	&, & a,
	   & a:visited,
	   & a:active,
	   & a:hover {
		color: shade($white, 30);
		text-decoration: none;
	}
	
	nav ul {
		margin: 0; padding: 0;
		
		li {
			background-color: #474747;
			padding: 0.75em 1em;
			border-bottom: 1px solid #2D2D2D;
			.sidr-class-new-marker {
				float: right;
			}
		}
		img {
			height: 40px;
			width: auto;
			margin-right: 0.75em;
			vertical-align: middle;
			&.sidr-class-profile { height: 60px; margin-right: 0.4em; }
		}
		li.sidr-class-mesh {
			position: absolute;
			width: 597px;
			bottom: 0;
			
			img { height: 40px; width: auto; vertical-align: baseline; }
			div { display: inline-block; }
			span { @include light-font(18px); }
			strong {
				display: block;
				@include regular-font(32px);
				line-height: 0.75em;
			}
		}
	}
}

/****************************************************************
* Main Page
****************************************************************/

#landing {
	#content { padding: 0; }
	#map-canvas { height: 760px; }
	
	.advisory-title {
		width: 100%;
		height: 80px;
		padding: 30px;
		background-color: $black;
		
		@include light-font(24px);
		color: $white;
		
		span { @include regular-font(24px); }
	}
	
	.disaster-event {
		width: 100%;
		height: 100px;
		
		color: $white;
		background-color: tint($black, 25%);
		
		img {
			float: left;
			width: 120px;
			height: auto;
			padding: 30px 30px 0 30px;
		}
		h1 {
			@include regular-font(36px);
			float: left;
			padding-top: 10px;
		}
		a.button {
			@include light-font(18px);
			color: $white;
			background-color: $blue;
			
			float: right;
			margin: 30px 30px;
		}
	}
	
	.controls {
		.button {
			@include light-font(24px);
			text-align: center;
			color: $white;
			
			width: 50%;
			height: 100px;
			padding-top: 30px;
			
			float: left;
			img {
				width: 42px;
				height: auto;
				padding-right: 10px;
				vertical-align: middle;
			}
		}
		.help { background-color: $red; }
		.update { background-color: $green; }
		.no-corner { @include border-radius(0, 0); }
	}
}

/****************************************************************
* Advisory Page
****************************************************************/

#advisory {
	#content { top: 174px; }
	#map-canvas {
		height: 250px;
		margin-bottom: 1em;
		border: 1px solid $black;
		
		.marker-content {
			@include light-font(18px);
			width: 350px;
			overflow: hidden;
			
			img { float: left; height: 30px; width: auto; margin: 10px 20px 0 10px; }
			h1 { @include regular-font(24px); margin: 0; }
		}
	}
	
	.page-nav {
		clear: both;
		margin-top: 100px;
		a, a:visited, a:hover, a:active { color: $white; }
		.div-button {
			float: left;
			width: 50%;
			height: 75px;
			padding-top: 23px;
			
			color: $white;
			text-transform: uppercase;
			text-align: center;
			background-color: $black;
			border-bottom: 10px solid $black;
			
			&.current {
				@include regular-font(24px);
				border-bottom: 10px solid #3C67D6;
			}
		}
	}
	
	div.update {
		h1 { @include bold-font(24px); text-transform: uppercase; margin: 0; }
		p.time-stamp { margin: 0; }
		.new-marker {
			font-size: 12px;
			display: inline-block;
		}
	}
}

/****************************************************************
* Notification Page
****************************************************************/

#notifications {
	#content h1 {
		@include regular-font(24px);
		.new-marker {
			display: inline-block;
			width: 40px;
			vertical-align: baseline;
			margin-right: 0.4em;
		}
	}
	.notification {
		@include light-font(21px);
		border: 1px solid $light-grey;
		border-bottom: 0;
		overflow: auto;
		
		div.profile-pic {
			float: left;
			padding: 0.75em;
			margin-right: 1em;
			img { width: 70px; height: auto; }
		}
		.text {
			float: left;
			padding-top: 32px;
			p {
				margin: 0;
				.name { @include regular-font(21px); }
				&.time { @include light-font(18px); color: $light-grey; }
			}
		}
		
		// text notification specific
		&.text {
			div.profile-pic { background-color: tint($green, 75); }
		}
		
		// help notification specific
		&.help {
			div.profile-pic { background-color: tint($red, 85); }
		}
		
		// close off the border for the last notification
		&:last-child, &.last { border-bottom: 1px solid $light-grey; }
		
		.new-marker {
			font-size: 14px;
			float: right;
			margin: 32px 20px 0 0;
		}
	}
}

/****************************************************************
* Community Page
****************************************************************/

#community {
	// Controls for posting and filters
	.controls {
		overflow: auto;
		a, a:visited, a:hover { color: $grey; }
		.button {
			@include regular-font(24px);
			float: left;
			width: 44%;
			margin-right: 2%;
			border: 1px solid $light-grey;
			padding: 0.5em 0;
			
			text-align: center;
			
			img { margin-right: 0.5em; vertical-align: middle; }
			
			&.filter-toggle {
				img { margin: 0; }
				text-align: center;
				width: 8%;
				margin-right: 0;
				padding: 0.5em 0;
			}
		}
	}
	
	// Filter menu styles
	.filter {
		// hidden by default
		height: 0;
		overflow: hidden;
		padding: 0;
		
		clear: both;
		margin-top: 10px;
		border: 1px solid $white;
				
		select {
			@include regular-font(18px);
			-webkit-appearance: none;
			border: none;
			padding: 5px 20px;
			
			background: url(../images/icons/down-arrow.svg) no-repeat right #fff;
		}
		
		&.show {
			height: auto;
			padding: 0.25em 0;
			border: 1px solid $light-grey;
			
		}
	}
	
	// Post styles
	.posts {
		clear: both;
		margin-top: 1em;
	}
	.post {
		@include thin-font(32px);
		border: 1px solid $light-grey;
		margin-bottom: 25px;
					
		.head {
			color: $white;
			padding: 25px;
			strong { font-size: 32px; }
			img {
				width: 60px;
				height: auto;
				margin-right: 10px;
				vertical-align: middle;
			}
		}
		
		.content, .meta { padding: 0 15px; }
		.content {
			overflow: auto;
			margin-top: 1em;
			
			p { margin: 0; }		
			.map {
				float: left;
				width: 270px; height: 270px;
				margin-right: 1em;
				border: 1px solid $light-grey;
			}
		}
		.meta {
			clear: both;
			overflow: auto;
			margin-top: 1em;
			
			.time, .comment-count { font-size: 24px; }
			.time { float: left; }
			.comment-count { float: right; }
		}
				
		// Post types
		&.text {
			.head { background-color: $green; }
		}
		&.help {
			.head { background-color: $red; }
			a .comment-btn { background-color: $red; }
		}
	}
	
	.comment-btn {
		@include light-font(24px);
		padding: 0.75em 1em;
		margin-top: 1em;
		
		color: $white;
		background-color: $dark-grey;
		text-align: center;
	}

	
	// Comments
	.comments {
		margin-top: 1em;
		.comment {
			border: 1px solid $light-grey;
			border-bottom: none; // remove bottom border to prevent overlap
			padding: 25px;
			
			img {
				position: absolute;
				width: 70px;
				height: auto;
				margin-right: 0.5em;
			}
			.text {
				padding-left: 85px;
				p {
					@include light-font(21px);
					margin: 0;
				}
				p.name {
					@include regular-font(24px);
					margin-bottom: 0.5em;
					span {
						margin-left: 1em;
						@include light-font(18px);
					}
				}
			}
			&.input {
				border: 1px solid $light-grey;
				textarea {
					margin-left: 85px;
					width: 550px;
					height: 70px;
				}
			}
		}
		.comment-btn { margin-top: 0; }
	}
	
	// Text Update Post
	&.text-update-post {
		.post { padding-bottom: 1em; }
	}
}

/****************************************************************
* Map Page
****************************************************************/

#maps {
	#content { padding: 0; }
	#map-canvas { height: 932px; }
}

/****************************************************************
* News Page
****************************************************************/

#news {
	#content h1 {
		@include regular-font(24px);
		.new-marker {
			display: inline-block;
			width: 40px;
			vertical-align: baseline;
			margin-right: 0.4em;
		}
	}
	.news-item {
		overflow: auto;
		padding: 0.75em;
		border: 1px solid $light-grey;
		border-bottom: none;
		a, a:visited, a:active, a:hover { text-decoration: underline; }
		h1 { @include regular-font(28px); margin: 0; }
		.cover-image {
			position: relative;
			float: left;
			margin-right: 1em;
			img { width: 250px; height: auto; }
			.new-marker {
				position: absolute;
				bottom: 17px; left: 10px;
			}
		}
		p { 
			&.meta { @include thin-font(18px); margin-top: 0.5em; }
		}
		
		// Close bottom border for last news item
		&:last-child { border: 1px solid $light-grey; }
	}
}

/****************************************************************
* New Posting
****************************************************************/

#posting {
	// Posting title header
	.posting-header {
		width: 100%;
		height: 100px;
		margin-top: 100px;
		
		img, h1 { float: left; }
		img.info { width: 60px; height: auto; vertical-align: middle; margin: 20px 20px 20px 30px; }
		img.q { width: 40px; height: auto; float: right; margin: 30px 30px; }
		h1 { @include regular-font(36px); color: white; }
	}
	
	#content { top: 200px; }
	textarea {
		@include thin-font(32px);
		width: 100%;
		height: 300px;
		padding: 20px;
	}
	
	// Posting options
	.meta {
		div {
			float: left;
			margin-top: 15px;
			margin-right: 15px;
			border: 2px dashed $light-grey;
			width: 100px; height: 100px;
			text-align: center;
			padding: 30px 0;
		
			&.type {
				@include light-font(24px);
				color: $light-grey;
				width: 308px;
				padding: 20px 40px;
			}
			&.mic {
				padding: 27px 0;
				img { height: 45px; width: auto; }
			}
			&.submit {
				@include regular-font(24px);
				border: none;
				float: right;
				width: 120px;
				margin-right: 0;
				padding-top: 35px;
				background-color: $dark-grey;
				color: $white;
			}
		}
	}
		
	.text {
		@include regular-font(32px);
		color: $dark-grey;
		text-align: center;
		margin-top: 2em;
		
		h1 { margin-bottom: 0.35em; }
		.sub-text {
			@include thin-font(32px);
			margin: 0;
			&.small {
				font-size: 18px;
				margin-top: 2em;
			}
		}
		
		.button {
			@include regular-font(32px);
			color: $white;
			display: inline-block;
			margin-top: 2em;
			padding: 1em 2em;			
		}
		
		// Help/Request Confirmation
		&.ticket {
			.sub-text { margin-top: 2em; }
			.sub-text.small { margin-top: 4em; }
		}
	}
	
	// Selection menu of Needs
	.type {
		select {
			@include light-font(18px);
			color: $light-grey;
			-webkit-appearance: none;
			border: none;
			padding: 10px 20px;
			width: 100%;
			margin-bottom: 1em;
			border: 1px solid $light-grey;
			@include border-radius(0, 0);
			
			background: url(../images/icons/down-arrow-light.svg) no-repeat right #fff;
			background-position-x: 98%;
		}
	}
	
	.pagination {
		position: absolute;
		bottom: 1em;
		left: 0; right: 0;
		
		@include thin-font(24px);
		color: $light-grey;
		text-align: center;
	}
	
	// Share an Update Specific-styles	
	&.share-update {
		.posting-header { background-color: $green; }
		.ticket .sub-text { margin-top: 1em; }
	}
	
	// Request Help Specific-styles
	&.help-update {
		.posting-header { background-color: $red; }
		.emergency {
			@include regular-font(24px);
			color: $light-grey;
			margin-bottom: 1em;
			overflow: auto;
			
			p { float: left; margin: 0; }
			a.meaning {
				@include light-font(18px);
				text-decoration: underline;
				color: $light-grey;
				margin-left: 0.5em;
			}
			.switch { float: right; }
		}
		.text {
			a, a:visited, a:active, a:hover { text-decoration: underline; }
		}
		
		// 911 Request
		&.help-911 {
			#map-canvas {
				border: 1px solid $light-grey;
				width: 100%;
				height: 350px;
			}
			.text .button {
				&.big { width: 300px; height: 300px; }
				&.yes { background-color: $green; margin-right: 0.25em; }
				&.no { background-color: $red; margin-left: 0.25em; }
				
				// 911 Police/Ambulance Requests
				&.police, &.ambulance {
					padding-top: 1.5em;
					img { margin-bottom: 0.75em; }
				}
				&.police { background-color: $blue; }
				&.ambulance { background-color: $red; }
				&.big.both {
					margin-top: 0.25em;
					width: 610px;
					height: 100px;
					background-color: $grey;
				}
			}
		}
	}
}

/****************************************************************
* @font-face
****************************************************************/

@font-face {
  font-family: 'Roboto Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Thin'), url('../fonts/Roboto-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Light'), url('../fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Bold'), url('../fonts/Roboto-Bold.ttf') format('truetype');
}