/****************************************************************
* Compass Imports
****************************************************************/

@import "compass/css3";
@import "compass/utilities";

/****************************************************************
* Variables
****************************************************************/

// Default styles
// Anything that can only be applied to user divs to avoid problems with JQuery Mobile
@mixin user-defaults {
	box-sizing: border-box;
}

// Typeface
@mixin thin-font($size) {
	font-family: "Roboto Thin";
	font-size: $size;
	font-weight: normal;
}
@mixin light-font($size) {
	font-family: "Roboto Light";
	font-size: $size;
	font-weight: normal;
}
@mixin regular-font($size) {
	font-family: "Roboto Regular";
	font-size: $size;
	font-weight: normal;
}

// Size
$body-font-size: 24px;

// Colour
$white: #ffffff;
$black: #000000;
$grey: #222222;
$red: #820B0B;
$green: #1F991C;
$blue: #3C67D6;

/****************************************************************
* Global
****************************************************************/

html, body {
	@include light-font(24px);
}

.action-bar {
	@include user-defaults;
	position: fixed;
	z-index: 9999;
	color: $white;
	background-color: $grey;
	
	width: 100%;
	height: 100px;
	
	overflow-y: hidden;
	
	.app-icon {
		float: left;
		padding: 30px;
		img { width: 70px; height: auto; }
	}
	
	h1 {
		@include regular-font(36px);
		float: left;
	}
	
	a.menu {
		float: right;
		padding: 30px;
		img { width: 40pxx; height: auto; }
	}
}

a.button {
	text-decoration: none;
	padding: 0.5em 1.5em;
	@include border-radius(5px, 5px);
}

/****************************************************************
* Main Page
****************************************************************/

#map-canvas {
	margin-top: 100px;
	height: 760px;
}

.advisory-title {
	@include user-defaults;
	width: 100%;
	height: 80px;
	padding: 30px;
	background-color: $black;
	
	@include light-font(24px);
	color: $white;
	
	span { @include regular-font(24px); }
}

.disaster-event {
	@include user-defaults;
	width: 100%;
	height: 100px;
	
	color: $white;
	background-color: tint($black, 25%);
	
	img {
		float: left;
		width: 60px;
		height: auto;
		padding: 30px 30px 0 30px;
	}
	h1 {
		@include regular-font(36px);
		float: left;
		padding-top: 10px;
	}
	a.button {
		@include light-font(18px);
		color: $white;
		background-color: $blue;
		
		float: right;
		margin: 30px 30px;
	}
}

.controls {
	.button {
		@include user-defaults;
		@include light-font(24px);
		text-align: center;
		color: $white;
		
		width: 50%;
		height: 100px;
		padding-top: 30px;
		
		float: left;
		img {
			width: 32px;
			height: auto;
			padding-right: 10px;
		}
	}
	.help { background-color: $red; }
	.update { background-color: $green; }
	.no-corner { @include border-radius(0, 0); }
}

/****************************************************************
* @font-face
****************************************************************/

@font-face {
  font-family: 'Roboto Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Thin'), url('../fonts/Roboto-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Light'), url('../fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}
